<!DOCTYPE html>
<!-- 
	The ad.html has a very specific format.

	Really there are two "ads" contained within this file.

	The first ad displays to participants who are browsing
	the Amazon Mechanical Turk site but have not yet accepted
	your hit.  

	The second part of the ad display after the person selected
	"Accept HIT" on the Amazon website.  This will reload the
	ad and will display a button which, when clicked, will pop
	open a new browser window pointed at your local psiTurk
	server (assuming it is running and accessible to the Internet).

	See comments throughout for hints

-->
<html>
	<head>
        <meta charset="utf-8" />
		<title>Psychology Experiment</title>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
        <link rel="icon" href="/static/favicon.ico" />
		<style type="text/css">
			/* these tyles need to be defined locally */
			body {
			    padding:0px;
			    margin: 0px;
			    background-color: white;
			    color: black;
			    font-weight: 300; 
			    font-size: 13pt;
			}

			/* ad.html  - the ad that people view first */
			#adlogo {
			    width: 140px;
			    padding: 2px;
			    border: 1px solid #ccc;
			    margin-right: 1em;
			}

            #container-not-an-ad { /* obtuse name because pesky ad-blocker extensions */
				background: white;
			    margin: 30px;
			}

			h1 {
				margin-top: 0px;
			}
		</style>
	</head>
	<body>
		<div id="container-not-an-ad" class="media">
			<div class="media-left pull-left" href="#">
						<!-- REPLACE THE LOGO HERE WITH YOUR  UNIVERSITY, LAB, or COMPANY -->
						<img id="adlogo" src="{{ server_location }}/static/images/university.png" alt="Lab Logo" />
			</div>
			<div class="media-body">

							<!-- 
								If assignmentid is "ASSIGNMENT_ID_NOT_AVAILABLE"
								it means the participant has NOT accepted your hit. 
								This should display the typical advertisement about
								your experiment: who can participate, what the
								payment is, the time, etc...

							-->
							{% if assignmentid == "ASSIGNMENT_ID_NOT_AVAILABLE" %}

							    <h1>Call for participants</h1>
							    <p>
									This is a two-part assessment. You will need to return in 24 hours (and no longer than 25 hours) 
									to complete the second part of the assessment.
								</p>
								<p>
									You are eligible to participate in this study if you meet the following requirements: 
									(i) English learned as first language, ability to read and speak English, 
									(ii) normal vision (including normal color vision), or corrected to normal through the use of contact lenses, 
									(iii) age range of 18-75 years old, and 
									(iv) good health and free of neurological disease (self-report).
								</p>
								<p>
									Compensation ($5 for each part, $10 total) will be issued upon completion of both parts of 
									the assessment. Both parts will take approximately 30 minutes, for a total of about one hour. 
									The assessment is not supported on mobile devices (i.e. any kind of cell phone or tablet device) 
									and must be taken on a desktop computer or laptop only.
								</p>
								<p>
									There are five components of this study. Day one consists of: 
									(i) a consent form and survey followed by 
									(ii) the task. Day two consists of: 
									(iii) a survey, 
									(iv) a continuation of the task, and 
									(v) one last survey. 
									All five components of the study need to be completed and submitted.
								</p>
								<p>
									In this study, we are looking to better understand learning, memory, and decision-making. 
									During the study, you will be shown a series of words paired with colors and asked whether 
									you can visualize the word as that color in your mind. You will type responses to the experiment 
									using your keyboard. Imagine the purpose of doing this will help aid in the creation of flash cards 
									for non-native English speakers. Given the types of questions that will be asked, this study is not 
									suitable for individuals with color blindness.
								</p>
								<p>
									To begin, please open the link below in a new tab and complete the consent form and survey 
									(keep this tab open). Return to this window once you have submitted the survey.
								</p>
								<p>
									https://forms.gle/ZcrYfPzk1C4u28qb8
								</p>
							    

							{% else %}

								<!-- 
									OTHERWISE
									If assignmentid is NOT "ASSIGNMENT_ID_NOT_AVAILABLE"
									it means the participant has accepted your hit. 
									You should thus show them instructions to begin the 
									experiment ... usually a button to launch a new browser
									window pointed at your server.

									It is important you do not change the code for the
									openwindow() function below if you want you experiment
									to work.
								-->
							    <h1>Thank you for accepting this HIT!</h1>
							    <p>
							    	By clicking the following URL link, you will be taken to the experiment,
							        including complete instructions and an informed consent agreement.
							    </p>
							    <script type="text/javascript">
									function openwindow() {
							    		popup = window.open('{{ server_location }}/consent?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}','Popup','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=no,width='+1024+',height='+768+'');
							  		}
							    </script>
							    <div class="alert alert-warning">
							    	<b>Warning</b>: Please disable pop-up blockers before continuing.
							    </div>
							    
						    	<button type="button" class="btn btn-primary btn-lg" onClick="openwindow();">
								  Begin Experiment
								</button>


							{% endif %}
							<!-- 
								endif
							-->
			</div>
		</div>
	</body>
</html>
