<div id = "instructions_slide">

    <style>
        .square {
            height: 200px;
            width: 200px;
            position: relative;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            margin: 0 auto;
        }
    </style>

    <div id = "sq" class = "square" style = "background-color: blue;">

    </div>

    <p id = "f" style = "font-size: 65px;">
        beer
    </p>

    <p id = "s" style = "font-size: 40px;">
        Y/N?
    </p>

    <p id = "t" style = "font-size: 30px;">
        []
    </p>

</div>