<div id="instructions_slide">

    <p>
        In this next part, you will be asked if you recognize words you may have seen earlier in the task. 

    </p>

    <p>
        The task will start again automatically after the break is over.
    </p>
    <p>

        Press 'y' if you recognize the word from earlier, or 'n' if not.  

    </p>

    <p>
        The next part will automatically start in:
    </p>

    <p id = "timer">
        60
    </p>




    <script type="text/javascript">
    //console.log(psiTurk.getInstructionIndicator())
    </script>


</div>
