<div id="instructions_slide">

        <p>
            You will see a few images and enter the number you see within the image.
        </p>

        <p>
            For example, if you see "4" within the image, enter ‘4’.
        </p>

        <p>
            If you do not see a number, enter ‘0’. 
        </p>

        <p>
            Press the spacebar to continue.
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>


</div>
